.cart-page{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    min-height: 70vh;
}

.cart-items{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    height: 100%;
    padding: 20px;
}

.summary{
    margin: 24px auto 0 auto;
    width: 25%;
    height: 100%;
    padding: 20px;
    border: 1px solid #565656;
    border-radius: 6px;
    background-color: #eceaea;
    display: flex;
    flex-direction: column;
}

.summary-total-items{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(40, 40, 40, 0.5);
}

.summary-total-items span{
    font-size: 1.3rem;
    font-weight: 300;
}

.summary-subtotal{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0 40px 0;
}

.subtotal-line{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid rgba(40, 40, 40, 0.5);
}

.total-line-label, 
.total-line-value span{
    font-size: 1.2rem;
    font-weight: 300;
}

.summary-checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.summary-checkout{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 20px;
    /* padding: 10px 0; */
}

.summary-checkout button{
    width: 70%;
    height: 40px;
    border: none;
    background-color: #565656;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    border-radius: 8px;
}

.summary-checkout button:hover{
    background-color: #000;
}